# <center> In-class assignment 2 </center>

**Task 1**. You need to analize the student;s performance in Exams. 
You can read the description here:
https://www.kaggle.com/spscientist/students-performance-in-exams

1.1 Read the data from your repository (```StudentsPerformance.csv```) using pandas library and save it as a DataFrame. <br>
1.2 Check the descriptive statistics. What subject has the greatest mean score (math, reading, or writing)?<br>
1.3 Check are there any missing values in a data set? In case if they persist, delete the rows with missing values.<br>
1.4 Filter the data to display only the students with bachelor's degree and math scores above the median.<br>
1.5. What are the ratios of females and males in this data set?<br>
1.6 Check if all the races/ethnicities are presented in this data set uniformly. Hint: you need to calculate the number of students for each race/ethnicity and check is there any imbalance.<br>

In [3]:
# Your code here
import pandas as pd
df = pd.read_csv('StudentsPerformance.csv')

print(df.describe)

print(df['math score'].mean(), df['reading score'].mean(), df['writing score'].mean())

print(df.isnull().sum())

print(df.loc[(df['parental level of education'] == 'bachelor\'s degree') & (df['math score'] > df['math score'].median())] )

print("Male", round(df['gender'].value_counts()['male']/ 1000 * 100,4), "%", "Female", round(df['gender'].value_counts()['female']/ 1000 * 100,4), "%")
print("Group A", round(df['race/ethnicity'].value_counts()['group A'] / 1000 * 100,4), "%","Group B", round(df['race/ethnicity'].value_counts()['group B'] / 1000 * 100,4), "%","Group C", round(df['race/ethnicity'].value_counts()['group C'] / 1000 * 100,4), "%","Group D", round(df['race/ethnicity'].value_counts()['group D'] / 1000 * 100,4), "%","Group E", round(df['race/ethnicity'].value_counts()['group E'] / 1000 * 100, 4), "%")

<bound method NDFrame.describe of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>
66.089 69.169 68.054
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
24     male        group D           bachelor's degree  free/reduced
27   female        group C           bachelor's degree      standard
60     male        group E           bachelor's degree  free/reduced
77     male        group A           bachelor's degree      standard
..      ...            ...                         ...           ...
909    male        group E           bachelor's degree      standard
916    male        group E           bachelor's degree      standard
933    male        group C           bachelor's degree  free/reduced
969  female        group B           bachelor's degree      standard
970  female        group D           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
24                completed          74             71             80
27                     none          67             69             75
60                completed          79             74             72
77                completed          80             78             81
..                      ...         ...            ...            ...
909               completed          70             64             70
916               completed         100            100            100
933               completed          70             75             74
969                    none          75             84             80
970                    none          89            100            100

[66 rows x 8 columns]
Male 48.2 % Female 51.8 %
Group A 8.9 % Group B 19.0 % Group C 31.9 % Group D 26.2 % Group E 14.0 %

**Task 2**. You should visit http://books.toscrape.com/catalogue/page-1.html. <br>
2.1. Write a function that parses and scraps one page and returns a list of dictionaries with the title and price of each book. <br>
2.2. Download the first 100 books with a progress bar from tqdm. <br>
2.3 Save it to DataFrame. <br>
2.4. Calculate the average price of these books. <br>

In [4]:
from urllib.request import urlopen
from tqdm.notebook import trange, tqdm
def func(url):
    page = urlopen(url)
    html_bytes = page.read()
    html = html_bytes.decode("utf-8")
    
    o = html.find('<ol class="row">') + len('<ol class="row">') 
    oe = html.find('</ol>')
    l = html[o : oe]
    
    li = l.find('<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">')
    lw = l[li:].split('<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">')
    lw.remove('')
    res = list()
    
    for i in tqdm(lw, desc='Download'):
        books = dict()
        t_l = i.find("alt=\"")+len("alt=\"")
        t_r = i.find("\" class=\"thumbnail\"")
        t = i[t_l : t_r]
        cost = int(i.find("<p class=\"price_color\">£")+len("<p class=\"price_color\">£"))
        p = i[cost:cost+5]
        if(p != '[]'):
            books['Title'] = t
            books['Cost'] = float(p)
            res.append(books)
    return res


df_1 = list()
for i in range(1,6):
    da = func("http://books.toscrape.com/catalogue/page-" + str(i) + ".html")
    df_1 = df_1 + da
df_12 = pd.DataFrame(df_1)
print(round(df_12['Cost'].mean(), 4), "£")
df_12

HBox(children=(HTML(value='Download'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Download'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Download'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Download'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Download'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

34.5607 £

                                                Title   Cost
0                                A Light in the Attic  51.77
1                                  Tipping the Velvet  53.74
2                                          Soumission  50.10
3                                       Sharp Objects  47.82
4               Sapiens: A Brief History of Humankind  54.23
..                                                ...    ...
95  Lumberjanes Vol. 3: A Terrible Plan (Lumberjan...  19.92
96  Layered: Baking, Building, and Styling Spectac...  40.11
97  Judo: Seven Steps to Black Belt (an Introducto...  53.90
98                                               Join  35.67
99          In the Country We Love: My Family Divided  22.00

[100 rows x 2 columns]